# Angular
# =========================
frontend/node_modules/
frontend/dist/
frontend/.angular/


# Spring Boot / Maven
# =========================
backend/target/
backend/.mvn/


# IDE
# =========================
.idea/
.vscode/
*.iml


.DS_Store
Thumbs.db

