.app-container {
    background: #f5f7ff;
    min-height: 100vh;
    
  }
  
  .header-card {
    background: linear-gradient(135deg, #3d3c68, #232346);
    color: white !important;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .upload-card {
    border-left: 5px solid #b7b7d4;
  }
  
  .file-input {
    border-radius: 10px;
    padding: 10px;
  }
  
  .table-custom {
    background: white;
  }
  
  .table-custom thead {
    background: #eef2ff;
    color: #232346;
  }
  
  .table-custom tbody tr:hover {
    background: #f1f5ff;
    transition: 0.2s;
  }
  
  .results-card {
    border-top: 4px solid #b7b7d4;
  }
  
  .empty-state {
    padding: 40px;
  }

  .custom-upload-btn {
    display: inline-block;
    background: linear-gradient(135deg, #3d3c68, #232346);
    color: white;
    padding: 10px 22px;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s ease;
    box-shadow: 0 4px 12px rgba(38, 37, 66, 0.3);
    font-family: Arial, Helvetica, sans-serif;

  }
  
  .custom-upload-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 18px rgba(38, 37, 66, 0.3);
  }
  
  .custom-upload-btn:active {
    transform: scale(0.98);
  }

  .center-image {
    display: block;
    margin: 0 auto;
    height: 120px;
    width: 180px;
    margin-bottom: 20px;
}